.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0,212,255);
  background: linear-gradient(214deg, rgba(0,212,255,1) 24%, rgba(122,250,255,1) 47%, rgba(122,250,255,1) 64%, rgba(0,222,255,1) 87%, rgba(0,212,255,1) 100%);
}

