.DateForm {
  background: rgb(255,0,53);
  background: linear-gradient(214deg, rgba(255,0,53,1) 0%, rgba(242,2,2,1) 55%);
  width: 100%; 
  font-size: 1.75rem;
}

.DateForm-date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 35px 0 0 0;
  font-family: 'Fascinate Inline', cursive;
  text-transform: uppercase;
}


::placeholder {
  color: white;
}

.DateForm-month,
.DateForm-day {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}


.DateForm-month input,
.DateForm-day input {
  border: none;
  outline: none;
  background-color: rgba(255, 0, 0, 0);
  margin: 0 auto;
  height: 50px;
  width: 80px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  box-sizing: border-box;
}

.DateForm button {
  width: 100%;
  text-transform: uppercase;
  font-size: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .DateForm {
    font-size: 2rem;
  }

  .DateForm-month input,
  .DateForm-day input {
    font-size: 1.75rem;
  }

  .DateForm button {
    font-size: 1.25rem;
  }
}  

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  .DateForm {
    font-size: 2rem;
  }
  
  .DateForm-month input,
  .DateForm-day input {
    font-size: 2rem; 
  }

  

  .DateForm-divider {
    font-size: 2.25rem;
    justify-self: center;
    margin-left: -5px;
    margin-right: 10px;
  }
}  

/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .DateForm {
    font-size: 2.5rem;
  }

  .DateForm-month input,
  .DateForm-day input {
    font-size: 2.5rem;
  }

  .DateForm button {
    padding: 16px;
    font-size: 1.5rem;
  }
}  

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */